/* html {
  background-color: #10121a;
  background-size: cover;
  height: 100%;
} */
body {
  background-color: #10121a;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 52px;
  padding: 1em;
}

button {
  padding: 1em;
  border: 1px solid white;
  background-color: rgb(26, 25, 25);
  color: floralwhite;
  font-weight: 600;
  font-size: 23px;
  border-radius: 12px;
  box-shadow: -10px 3px floralwhite;
  font-family: monospace;
}

p {
  font-size: 18px;
  font-weight: 700;
}

q1,
q2 {
  padding: 1em;
}

form {
  font-size: 26px;
  font-weight: 900;
}

#quiz {
  font-size: 56px;
}
#ansLabel {
  padding: 1rem;
  padding-top: 0;
  font-size: 108px;
}
#answer,
#playerInitials {
  padding: 0.5rem;
  /* border: 1px solid white; */
  background-color: black;
  color: floralwhite;
  border-radius: 12px;
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  width: 350px;
  height: 125px;
}
#initialsLabel {
  padding: 1rem;
  padding-top: 0;
  font-size: 36px;
}
#timerText {
  font-size: 48px;
  margin: 0.5em;
  font-weight: 700;
  font-family: monospace;
}

.minorBtn {
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 1em;
  font-size: 20px;
  font-weight: 600;
  box-shadow: -8px 4px;
}

#leaderBtn {
  float: left;
  position: fixed;
  padding: 16px;
}

footer {
}

button:hover {
  cursor: pointer;
  box-shadow: -8px 4px floralwhite;
  background-color: rgb(11, 11, 11);
}
