html {
  background-color: #10121a;
}
body {
  background-color: #10121a;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 52px;
  padding: 1em;
  padding-bottom: 0.5em;
}

button {
  padding: 1em;
  border: 2px solid white;
  background-color: rgb(26, 25, 25);
  color: #fffaf0;
  font-weight: 500;
  font-size: 23px;
  border-radius: 12px;
  box-shadow: -10px 3px #fffaf0;
  font-family: monospace;
}

p {
  font-size: 18px;
}

form {
  font-size: 26px;
  font-weight: 900;
}

a {
  color: whitesmoke;
}

th,
td {
  color: antiquewhite;
  font-family: monospace;
}

footer {
  bottom: 30px;
  margin-top: 5em;
  padding-bottom: 0.1em;
  position: static;
}

.card-body {
  display: flex;
  justify-content: center;
  padding-top: 0;
}

#startBtn,
#startTest {
  background-color: #4e2e74;
}

#quizForm,
#savePlayer {
  border: 2px solid antiquewhite;
  padding: 3rem;
  /* max-width: 600px;
  min-width: 425px; */
  border-radius: 8px;
  box-shadow: -10px 3px antiquewhite;
}

#quiz {
  font-size: 56px;
}
#ansLabel {
  padding: 1rem;
  padding-top: 0;
  font-size: 72px;
}
#answer,
#playerInitials {
  padding: 0.5rem;
  /* border: 1px solid white; */
  background-color: black;
  color: floralwhite;
  border-radius: 12px;
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  width: 250px;
  height: 75px;
}
#initialsLabel {
  padding: 1rem;
  padding-top: 0;
  font-size: 28px;
}
#timerText {
  font-size: 28px;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1;
}

#resultText1 {
  color: antiquewhite;
  font-weight: 600;
  font-size: 77px;
}
#resultText2 {
  color: #38e40e;
  font-weight: 600;
  font-size: 27px;
}

#correctAns {
  color: #38e40e;
  font-size: 28px;
}

#wrongAns {
  color: #fd251d;
  font-size: 28px;
}

.minorBtn {
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 1em;
  font-size: 20px;
  font-weight: 600;
  box-shadow: -10px 3px floralwhite;
}
#resetBtn {
  background-color: #fd461d;
  color: black;
}

#startTest {
  margin-top: 3rem;
}

#next3,
#next4 {
  background-color: #1f8506;
  width: 125px;
}

/* Events---------------------------------- */
button:hover {
  cursor: pointer;
  box-shadow: -6px 1px antiquewhite;
  background-color: rgb(11, 11, 11);
}

a:hover {
  color: lightskyblue;
}

a:focus {
  color: lightskyblue;
}

#next3:hover {
  background-color: #1c7307;
  box-shadow: -6px 1px antiquewhite;
}
